<footer>
    <div class="footer-cols">
        <div class="col">
            <h4>Contact</h4>
            <a href="#">Réseaux sociaux</a>
            <a href="#">Qui sommes-nous</a>
        </div>
        <div class="col">
            <h4>La team</h4>
            <a href="#">Réseaux sociaux</a>
            <a href="#">Qui sommes-nous</a>
        </div>
        <div class="col">
            <h4>Genial Bubble</h4>
            <a href="#">La nuit de l'info</a>
            <a href="#">Tous les projets</a>
        </div>
        <div class="col">
            <h4>Contact</h4>
            <a href="#">Réseaux sociaux</a>
            <a href="#">Qui sommes-nous</a>
        </div>
    </div>
</footer>