<footer>
    <div class="footer-cols">
        <div class="col">
            <h4>Contact</h4> <!--[cite: 1] -->
            <a href="#">Réseaux sociaux</a> <!--[cite: 1] -->
            <a href="#">Qui sommes-nous</a> <!--[cite: 1] -->
        </div>
        <div class="col">
            <h4>La team</h4> <!--[cite: 1] -->
            <a href="#">Réseaux sociaux</a> <!--[cite: 1] -->
            <a href="#">Qui sommes-nous</a> <!--[cite: 1] -->
        </div>
        <div class="col">
            <h4>Genial Bubble</h4> <!--[cite: 1] -->
            <a href="#">La nuit de l'info</a> <!--[cite: 1] -->
            <a href="#">Tous les projets</a> <!--[cite: 1] -->
        </div>
        <div class="col">
            <h4>Contact</h4> <!--[cite: 1] -->
            <a href="#">Réseaux sociaux</a> <!--[cite: 1] -->
            <a href="#">Qui sommes-nous</a> <!--[cite: 1] -->
        </div>
    </div>
</footer>