<header>
    <div class="nav-container">
        <div class="logo">
            <a href="{{ .Site.BaseURL }}">🌱 Genial Inc.</a>
        </div>
        <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav>
            <a href="/" class="active">HOME</a>
            <a href="#projects">Projets</a>
            <a href="#team">La team</a>
            <a href="#contact">Contact</a>
        </nav>
    </div>
</header>
